[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = http://github.com/Shougo/neobundle.vim
[submodule ".zplug"]
	path = .zplug
	url = https://github.com/zplug/zplug
[submodule "nvim/dein.vim"]
	path = nvim/dein.vim
	url = https://github.com/Shougo/dein.vim.git
