[core]
    autocrlf = false

[include]
    path = ~/.gitconfig.local

[color]
    ui = auto

[push]
    default = tracking

[alias]
    a    = add
    st   = status
    sh   = show
    d    = diff
    di   = diff
    dh   = diff HEAD
    f    = fetch --prune
    ls   = ls-files -t
    cm   = commit
    cmm  = commit -am
    co   = checkout
    l    = log
    lg   = log --graph
    lo   = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    b    = branch
    ba   = branch -a

