[core]
    autocrlf = false

[include]
    path = ~/.gitconfig.local

[color]
    ui = auto

[push]
    default = tracking

[alias]
    st   = status
    sh   = show
    d    = diff
    di   = diff
    info = remote show origin
    f    = fetch --prune
    ls   = ls-files -t
    ci   = commit -a
    co   = checkout
    l    = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
    b    = branch
    ba   = branch -a

